@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --titulo-secoes: 28px;
}
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Work Sans", sans-serif;
            background-color: #F5F9FC;
        }

        html {
            font-size: 16px;
        }

        main {
            background-color: #F5F9FC;
        }

        /* HEADER */
        header {
            background-color: #F5F9FC;
            height: 6rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0 2rem;
            width: 100%;
            margin: 0 auto;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
        }

        header img {
            margin: 10px 60px 9.58px;
        }

        header nav {
            display: flex;
            gap: 2rem;
            align-items: center;
            margin-right: 3rem;
        }


        header a {
            font-size: 1.4rem;
            font-weight: 400;
            text-decoration: none;
            line-height: 1.2;
            margin-bottom: 0;
            display: inline-block;
        }

        .menu-link {
            color: #333F97;
        }

        .menu-link:hover {
            font-weight: bold;
        }

        #botao-diagnostico {
            color: #F5F9FC;
            background-color: #9D3BC2;
            padding: 0.55rem 1.0625rem;
            border-radius: 10px;
        }

        #botao-diagnostico:hover {
            background-color: #8A2FA8;
            transform: translateY(-2px);
            font-weight: bold;
        }

        /* SECTION CTA - PRINCIPAL */
        .cta-diagnostico {
            height: 46rem;
            width: 100%;
            max-width: auto;
            background-color: #333F97;
            background-image: url(img/imagem-cta.svg);
            background-repeat: no-repeat;
            background-position: -5px -80px;
            overflow: hidden;
            display: flex;
            justify-content: flex-end;
        }

        .cta-diagnostico article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            align-content: center;
            margin-right: 10.25rem;
            gap: 4.125rem;
        }

        .cta-diagnostico h1 {
            font-size: 4rem;
            font-weight: 700;
            color: #F5F9FC;
            text-align: right;
            line-height: 130%;
        }

        .cta-diagnostico p {
            text-align: end;
            line-height: 156%;
            font-size: 1.5rem;
            color: #F5F9FC;
        }

        .cta-titulo-subtitulo {
            padding-top: 60px;
            display: flex;
            flex-direction: column;
            gap: 1.5625rem;
        }

        .botao-cta {
            font-size: 1.5rem;
            font-weight: 700;
            background-color: #9D3BC2;
            color: #F5F9FC;
            padding: 1.15625rem 1.9375rem;
            border-radius: 10px;
            border-style: none;
            cursor: pointer;
            text-decoration: none;
            transition: all 0.3s ease;
        }

        .botao-cta:hover {
            background-color: #8A2FA8;
            transform: translateY(-2px);
        }

        /* Seção Clientes */
        .clientes-secao {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 154px;
            padding: 0 40px;
            margin-bottom: 4rem;
        }

        .clientes-secao h2 {
            color: #68696B;
            font-size: 28px;
            letter-spacing: -3%;
            text-align: center;
            font-weight: normal;
        }

        .logo-clientes {
            margin: 0 auto;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
            
        }

        .logo-clientes img {
            height: 60px;
            opacity: 0.7;
            transition: opacity 0.3s;
        }

        .logo-clientes img:hover {
            opacity: 1;
            cursor: pointer;
        }

        /* Seção sobre-diagnostico */
        .sobre-diagnostico {
            min-height: 1200px; 
            width: 100%;
            background-image: url(img/fundo-sobre-diagnostico.png); 
            background-repeat:no-repeat;
            background-size: 100% auto; 
            background-position: top center;  
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .info-sobre-diagnostico {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 2rem;
        }

        .sobre-diagnostico img {
            width: 400px;
            height: auto;
        }

        .text-sobre-diagnostico {
            display: flex;
            flex-direction: column;
            color: #F5F9FC;
            max-width: 500px;
        }

        .text-sobre-diagnostico h2 {
            font-size: 48px;
            margin-bottom: 25px;
            font-weight: 700;
        }

        .text-sobre-diagnostico p {
            font-size: 20px;
            margin-bottom: 40px;
            line-height: 1.6;
        }

        .botao {
            padding: 16px 32px;
            background-color: #9D3BC2;
            text-decoration: none;
            color: #F5F9FC;
            font-weight: 600;
            text-align: center;
            border-radius: 12px;
            display: inline-block;
            transition: all 0.3s ease;
        }

        .botao:hover {
            background-color: #8A2FA8;
            transform: translateY(-2px);
        }

        /*Seção como funciona Diagnostico*/
        .container-funcionamento-diagnostico h2{
            text-align: center;
            font-size: 48px;
            margin-bottom: 25px;
            font-weight: 700;
            margin-bottom: -80px;
        }

        .funcionamento-diagnostico{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .funcionamento-diagnostico a{
            margin-top: -50px;
            margin-bottom: 0;
        }

        /* SEÇÃO BENEFÍCIOS DIAGNÓSTICO */
        .beneficios-diagnostico-secao{
            margin-bottom: 126px;
        }
        .beneficios-diagnostico{
            display: flex;
            align-items: center;
            margin: 0 5rem;
            padding: 0 40px;
            flex-direction: column;
            
        }
        .beneficios-diagnostico h2{
            text-align: center;
            font-size: 3rem;
            margin-bottom: 25px;
            font-weight: 700;
            margin-top: 125px;
        }

        .grid-diagnostico{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
            margin-top: 50px;
        }

        .card{
            background-color: #ECF4F4;
            border-radius: 16px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            width: 350px;
            transition: all 0.3s ease;
        }
        .card-hidden {
        display: none;
        }

        .card:hover{
            transform: translateY(-5px);
            box-shadow: 1px 1px 15px rgba(158, 59, 194, 0.167);
            border: #8A2FA8 2px solid;
            cursor: pointer;
        }
        
        .header-card{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 5px;
        }
        .material-symbols-outlined{
            color: #333F97;
            font-weight: 300;
        }

        .botao-ver-grid{
            display: flex;
            justify-content: end;
            margin: auto 18rem;
        }
        .botao-ver-grid button{
            font-size: 16px;
            color: #333F97;
            font-weight: 700;
            padding: 10px 20px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            margin-top: 10px;
        }

        .botao-ver-grid button:hover{
            color:  #333F97;
            text-decoration: underline 1.5px #333F97;
            transform: translateY(-2px);
        }

        /* SEÇÃO DA TABELA */
        .tabela-diagnostico{
            border: 5px solid #333f97;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            margin: 127px;
            width: 1176px;
            align-items: center;
            overflow: hidden;
        }
        .titulos-clicaveis-diagnostico{
            display: flex;
            flex-direction: row;
            justify-items: center;
        }
        .titulos-clicaveis-diagnostico h3{
            padding: 20px 63px;
            border: 5px solid #333f97;
            border-top: 0px; 
            border-right: 0px;
            font-size: 23px;
            font-weight: 700;
            text-align: center;
        }
        .titulos-clicaveis-diagnostico #habilitado{
            background-color: #333f97;
            color:#F5F9FC;
        }

        .titulos-clicaveis-diagnostico:hover{
            cursor: pointer;
        }
        .info-diagnostico{
            display: flex;
            flex-direction: row;
            padding:30px;
        }
        .info-diagnostico p{
            font-size: 30px;
            width: 499px;
        }
        .info-diagnostico img{
            width: 540px;
            border-radius: 8px;
        }
        

        /* Estilização do form */
        .background-formulario{
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(img/fundo-formulario.png);
        }

        form {
            display: flex;
            flex-direction: column;
            background-color: rgb(243, 241, 241);
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.367);
            border-radius: 20px;
            padding: 40px;
            margin: 80px auto;
            gap: 20px;
            font-family: "Work Sans", sans-serif;
            max-width: 800px;
        }

        .campos-formulario {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .campos-formulario label {
            font-weight: 500;
            color: #333;
            margin-bottom: 5px;
        }

        #tel-cargo-pai {
            display: flex;
            flex-flow: row wrap;
            gap: 20px;
        }

        .tel-cargo-filho {
            display: flex;
            flex-direction: column;
            flex: 1;
            min-width: 200px;
        }

        .input {
            border: 2px solid transparent;
            background-image: linear-gradient(white, white), linear-gradient(to right, #3C1BA3, #692BB3);
            background-origin: border-box;
            background-clip: padding-box, border-box;
            border-radius: 12px;
            padding: 12px;
            font-size: 16px;
        }

        #servicos-pai {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .servicos-filho {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }

        .servicos-filho input[type="checkbox"] {
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }

        .servicos-filho label {
            display: flex;
            align-items: center;
            margin-bottom: 0;
        }

        #botao-campos-formulario {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        #input-botao-campos-formulario {
            background-color: #9D3BC2;
            border-radius: 12px;
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 700;
            padding: 15px 30px;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        #input-botao-campos-formulario:hover {
            background-color: #8A2FA8;
            transform: translateY(-2px);
        }

        #titulo-formulario {
            display: flex;
            justify-content: center;
            font-size: 28px;
            font-weight: 700;
            color: #333F97;
            margin-bottom: 20px;
        }

        /* SECAO SERVICOS */
        .servicos-secao {
            padding: 100px 0;
            background-color: #F5F9FC;
        }

        .servicos-secao .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 2rem;
        }

        .titulo-servicos {
            font-size: 3rem;
            align-self: flex-start;
            letter-spacing: -1px;
            width: 90%;
            margin: auto;
            color: black;
            margin-bottom: 55px;
        }

        .listas-servicos {
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 1rem;
            width: 90%;
            margin: 0 auto;
        }

        .listas-servicos li {
            font-size: 1.3rem;
            font-weight: 400;
            letter-spacing: -1px;
            display: flex;
            align-items: center;
            gap: 0.4375rem;
            transition: transform 0.3s ease;
        }

        .listas-servicos li:hover {
            transform: translateY(-2px);
        }


        /* SECAO BENEFICIOS */
        .beneficios-secao {
            width: 100%;
            height: auto;
            background-color: #333F97;
            background-image: url(img/fundo-section-beneficios.svg);
            background-repeat: no-repeat;
            background-size: cover;
            padding: 100px 40px;
            margin: 0;
        }

        .conjunto-beneficios {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
        }

        .conjunto-beneficios h2 {
            color: #F5F9FC;
            font-size: 3rem;
            align-self: flex-start;
            letter-spacing: -1px;
            width: 60%;
            margin: auto;
        }

        .listas-beneficios {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            width: 100%;
            max-width: 1000px;
        }

        .listas-beneficios li {
            padding: 16px 25px;
            background-color: #F5F9FC;
            border-radius: 10px;
            color: #333;
            font-size: 1.25rem;
            font-weight: 700;
            letter-spacing: -1px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: transform 0.3s ease;
        }

        .listas-beneficios li:hover {
            transform: translateX(10px);
        }

        .listas-beneficios li img {
            width: 45px;
            height: 45px;
        }

        /* CHAMADA PARA AÇÃO FINAL */
        .call-to-action-final{
            display: flex;
            flex-direction:column ;
            align-items: center;
            padding: 40px 40px;
            background-color: #F5F9FC;
            margin: 4rem 5rem;
        }

        .call-to-action-final h2{
            font-size: 2.3rem;
            color: #000;
            margin-bottom: 20px;
            font-weight: bold;
        }

        .call-to-action-final h3{
            font-size: 25px;
            color: #000;
            margin-bottom: 70px;
            text-align: center;
            line-height: 1.6;
            font-weight: normal;
        }

        .call-to-action-final a{
            margin-bottom: 29px;
        }

        .call-to-action-final p{
            font-size: 18px;
            color: #333F97;
            text-align: center;
            font-weight: 700;
            
        }
        /* PARCEIROS PARTNER*/
        .parceiros-secao{
            background-color: transparent;
            display: flex;
            flex-flow: wrap row;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 30px 40px;
            margin-top: 10px;
            margin-bottom: 30px;
            position: relative;
            z-index: 1;
            height: 300px;
        }

        /* FOOTER */
        .footer-container {
            background-image: url(img/background-footer.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position-y: -150px;
            display: flex;
            flex-direction: column;
            padding: 60px 0 30px;
            position: relative;
            z-index: 10;
        }
        .footer-container::before {
            content: "";
            position: absolute;
            top: -150px; /* controla o quanto a onda "sobe" */
            left: 0;
            width: 100%;
            height: 200px; /* altura da onda */
            background: url("img/background-footer.png") no-repeat top center;
            background-size: 100% auto;
            z-index: 2;
        }

        .sobre-footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 5rem;
            gap: 20px; /* Espaçamento em o 'sobre' e a logo*/
            margin-bottom: 30px;
            padding: 0 40px ;
        }

        .sobre-footer h3 {
            color: #F5F9FC;
            font-size: 40px;
            white-space: nowrap;
        }
        
        .sobre-footer p {
            color: #F5F9FC;
            line-height: 1.6;
            font-size: 20px;
            
        }

        .sobre-footer img {
            height: 60px;
        }

        .texto-sobre-footer{
            display: flex;
            gap: 20px;
            padding: 0 auto;
            align-items: center;
            margin-top: -50px;
        }

        .linhas {
            border: none;
            height: 1.5px;
            background-color: #333F97;
        }

        .final-footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 0 5rem;
            padding: 0 40px;
            gap: 20px;
            margin-bottom: -30px;
        }

        .final-footer img {
            width: 191px; 
            height: 191px;
        }

        .final-footer nav {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .footer-link {
            text-decoration: none;
            color: #F5F9FC;
            font-size: 18px;
            transition: color 0.3s ease;
        }

        .footer-link:hover {
            font-weight: bold;
            text-decoration: underline white 2px;
        }

        .botao-diagnostico {
            color: #F5F9FC;
            background-color: #9D3BC2;
            padding: 0.55rem 1.0625rem;
            border-radius: 10px;
            text-decoration: none;
            font-size: 18px;
        }
        .botao-diagnostico:hover {
            background-color: #8A2FA8;
            transform: translateY(-2px);
            font-weight: bold;
        }

        /* Placeholder para imagens */
        .img-placeholder {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #9D3BC2;
        }


        /* Responsive */
        @media (max-width: 768px) {
            .cta-diagnostico article {
                margin-right: 2rem;
                text-align: center;
                align-items: center;
            }
            
            .cta-diagnostico h1 {
                font-size: 2.5rem;
                text-align: center;
            }
            
            .cta-diagnostico p {
                text-align: center;
                font-size: 1.2rem;
            }
            .sobre-diagnostico{
                height: 500px;
                background-image: none;
                background-color: #333F97;
                padding: 5px;
                
            }
            .info-sobre-diagnostico {
                flex-direction: column;
                gap: 20px;
                padding: 0 1rem;
            }

            .sobre-diagnostico img {
                width: 250px;
            }

            .text-sobre-diagnostico h2 {
                font-size: 28px;
            }

            .text-sobre-diagnostico p {
                font-size: 16px;
            }

            .text-sobre-diagnostico a {
                width: 100%;
                padding: 14px 20px;
                font-size: 14px;
            }

            form {
                margin: 40px 20px;
                padding: 30px 20px;
            }

            #tel-cargo-pai {
                flex-direction: column;
            }

            .servicos-filho {
                flex-direction: column;
                gap: 10px;
            }

            .conjunto-beneficios h2 {
                align-self: center;
                margin-left: 0;
                text-align: center;
            }

            .listas-beneficios li {
                font-size: 1rem;
                padding: 1rem;
            }

            .sobre-footer {
                flex-direction: column;
                margin: 0 2rem;
                text-align: center;
            }

            .final-footer {
                flex-direction: column;
                margin: 0 2rem;
                text-align: center;
            }

            .final-footer nav {
                margin-top: -50px;
                flex-direction: row;
                align-items: center;
                gap: 15px;
            }

            .linhas{
                margin-top: 20px;
            }

            header nav {
                display: none;
            }
        }